.input,
.select {
	margin-top: 10px;
}

.data {
	border: 2px solid var(--inverted-bg-color);
	padding: 20px;
}

.loader,
.error {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}
